## Initial Data Cleaning ##

Collects and unifies primary and secondary school data where the anonymized student is present in both.

In [1]:
import csv
import os
import pandas as pd
import numpy as np

In [ ]:
# Check files in the Raw Data folder
os.listdir('../Data/Raw')

['Avaluacio_de_quart_dEducació_Secundaria_Obligatoria_20251111.csv',
 'Avaluació_de_sise_deducació_primaria_20251110.csv',
 'Plantilles_del_personal_docent_dels_centres_públics_i_serveis_educatius_20251111.csv']

In [ ]:
csv_path = os.path.abspath("../Data/Raw/Avaluacio_de_quart_dEducació_Secundaria_Obligatoria_20251111.csv")

secondary_data = []
with open(csv_path) as data: 
    reader = csv.reader(data)
    for row in reader:
        secondary_data.append(row)
    data.close()
df_S = pd.DataFrame(secondary_data)

csv_path = os.path.abspath("../Data/Raw/Avaluació_de_sise_deducació_primaria_20251110.csv")
primary_data = []
with open(csv_path) as data: 
    reader = csv.reader(data)
    for row in reader:
        primary_data.append(row)
    data.close()
df_P = pd.DataFrame(primary_data)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/itxaso/MASTER-codi/1-AVDM/Education-Big-Data-Project/Notebooks/Avaluacio_de_quart_dEducació_Secundaria_Obligatoria_20251111.csv'

In [40]:
df_P.columns = df_P.iloc[0]    # set first row as header
df_P = df_P[1:]                # drop the first row (since it's now the header)
df_P.reset_index(drop=True, inplace=True)

df_S.columns = df_S.iloc[0]    # set first row as header
df_S = df_S[1:]                # drop the first row (since it's now the header)
df_S.reset_index(drop=True, inplace=True)

In [41]:
df = pd.DataFrame({'CODI_ALUMNE': pd.concat([df_P['CODI_ALUMNE'], df_S['CODI_ALUMNE']]).unique()})
df['in_P'] = df['CODI_ALUMNE'].isin(df_P['CODI_ALUMNE']) 
df['in_S'] = df['CODI_ALUMNE'].isin(df_S['CODI_ALUMNE'])
matching = df[df['in_P'] & df['in_S']] 

# Keep only rows from df_P where CODI_ALUMNE exists in both
df_P_matching = df_P[df_P['CODI_ALUMNE'].isin(matching['CODI_ALUMNE'])].copy()
# Keep only rows from df_S where CODI_ALUMNE exists in both
df_S_matching = df_S[df_S['CODI_ALUMNE'].isin(matching['CODI_ALUMNE'])].copy()

df_P_matching.reset_index(drop=True, inplace=True)
df_S_matching.reset_index(drop=True, inplace=True)

In [42]:
common_cols = set(df_P_matching.columns) & set(df_S_matching.columns)

In [43]:
# List of required columns (from your message)
required_cols = [
    'ANY', 'ANY_NAIXEMENT', 'CODI_ALUMNE', 'GENERE', 'HÀBITAT',
    'MES_NAIXEMENT', 'NATURALESA', 'PANG', 'PANG_CO', 'PANG_EE',
    'PCAST', 'PCAST_CL', 'PCAST_EE', 'PCAT', 'PCAT_CL', 'PCAT_EE',
    'PFRAN', 'PFRAN_CO', 'PFRAN_EE', 'PMAT', 'PMAT_CR', 'PMAT_EFM', 'PMAT_NC'
]

df_P_clean = df_P.dropna(subset=required_cols).copy()
df_S_clean = df_S.dropna(subset=required_cols).copy()

common_ids = set(df_P_clean['CODI_ALUMNE']) & set(df_S_clean['CODI_ALUMNE'])
df_P_clean = df_P_clean[df_P_clean['CODI_ALUMNE'].isin(common_ids)]
df_S_clean = df_S_clean[df_S_clean['CODI_ALUMNE'].isin(common_ids)]

df_P_clean['snapshot'] = 'past'
df_S_clean['snapshot'] = 'present'

df_combined = pd.concat([df_P_clean, df_S_clean], ignore_index=True)

df_pivot = df_combined.pivot_table(
    index='CODI_ALUMNE',
    columns='snapshot',
    values=[col for col in required_cols if col != 'CODI_ALUMNE'],
    aggfunc='first'
)

In [44]:
df_pivot

0             ANY         ANY_NAIXEMENT         GENERE          \
snapshot     past present          past present   past present
CODI_ALUMNE
             2018    2019          2005              H       D
100028145    2018    2022          2005    2005      D       D
1000332771   2016    2020          2004    2004      H       H
1000343103   2016    2020          2004    2004      D       D
1000354325   2016    2020          2004    2004      D       D
...           ...     ...           ...     ...    ...     ...
999005478    2016    2020          2004    2004      H       H
999027032    2016    2020          2004    2004      H       H
99949376     2016    2020          2004    2004      D       D
99961597     2019    2023          2007    2007      H       H
99983150     2018    2022          2006    2006      D       D

0                      HÀBITAT                    MES_NAIXEMENT          ...  \
snapshot                  past            present          past present  ...
CODI_ALUMNE                                                              ...
                 Més de 100000      Més de 100000             1          ...
100028145        Més de 100000      Més de 100000             7       7  ...
1000332771   De 10001 a 100000  De 10001 a 100000             1       1  ...
1000343103   De 10001 a 100000  De 10001 a 100000             1       1  ...
1000354325   De 10001 a 100000  De 10001 a 100000            10      10  ...
...                        ...                ...           ...     ...  ...
999005478    De 10001 a 100000  De 10001 a 100000            11      11  ...
999027032    De 10001 a 100000  De 10001 a 100000             9       9  ...
99949376         Més de 100000      Més de 100000             7       7  ...
99961597         Més de 100000      Més de 100000             7       7  ...
99983150         Més de 100000      Més de 100000            10      10  ...

0           PFRAN_EE           PMAT         PMAT_CR         PMAT_EFM          \
snapshot        past present   past present    past present     past present
CODI_ALUMNE
                              91,49          100,00            81,82
100028145                     76,89   43,33   88,89   66,67    81,82   33.33
1000332771                    91,59    79,8  100,00   88,89    91,67      70
1000343103                    97,28   74,88  100,00   77,78   100,00      90
1000354325                    94,20    97,5  100,00     100    83,43      90
...              ...     ...    ...     ...     ...     ...      ...     ...
999005478                     82,39   45,08   88,49   22,22    75,34      20
999027032                     82,84   59,48   88,49   66,67    91,43      30
99949376                      97,09   82,82  100,00   88,89    91,67      90
99961597                      81,57   70,86   77,78    87,5    81,82    62.5
99983150                      90,79   49,17   88,89   33,33    90,91   33.33

0           PMAT_NC
snapshot       past present
CODI_ALUMNE
              92,86
100028145     57,14       0
1000332771    84,30   71,43
1000343103    92,22   42,86
1000354325   100,00     100
...             ...     ...
999005478     84,23   71,43
999027032     69,41   85,71
99949376     100,00   85,71
99961597      85,71   55,56
99983150      92,86    62,5

[251748 rows x 44 columns]

In [ ]:
df_pivot.shape[0]

In [ ]:
matching.shape[0]

In [ ]:
common_cols

In [ ]:
# Merge side by side on CODI_ALUMNE
df_merged = pd.merge(
    df_P_matching, 
    df_S_matching, 
    on='CODI_ALUMNE', 
    how='inner',  # only keep rows present in both
    suffixes=('_P', '_S')  # distinguish the two sets of columns
)